
.events {
    position: absolute;
    width: 100%;
    height: max-content;
    will-change: transform;
    display: flex;
    align-items: center;
	justify-content: center;
}

.childEvents {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 85vh;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
.event-head {
    font-family: "impact";
}
.wrapper-div1 {
    padding-top: 750px; ;
}
.MuiGrid-spacing-xs-3{
    width: 100% !important;
    margin: 0;
}


.slider__navi {
	position: absolute;
	top: 50vh;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}


.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.text--big {
	font-family: 'Poppins', sans-serif;
	font-size: 7.5em;
	font-weight: 700;
	line-height: 110px;
  margin-left: -8px;
}

.text--normal {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	color: #fff;
	transition: transform 0.1s linear;
}

.Events_Left {
	display: flex;
	height: 60vh;
	padding: 30px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 100%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.Events_Right {
	width: 100%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
	height: max-content;
	position: relative;
	bottom: 10vh;
}

.projects_pro #pro{
	left: 0;
	bottom: 50px;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
	background: #3e9fe6;
}

.flex--piplup .flex__item--right {
	background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
	background: #f8d41f;
}

.flex--pikachu .flex__item--right {
	background: #f4ecc5;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
	background: #f64f37;
}

.flex--blaziken .flex__item--right {
	background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
	background: #476089;
}

.flex--dialga .flex__item--right {
	background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
	background: #424242;
}

.flex--zekrom .flex__item--right {
	background: #a7bcbb;
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.Events__img {
	/* position: absolute;
	bottom: 20px;
	right: 15%; */
	max-height: 40vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}

#eve{
	width: max-content;
	margin: 20px auto;
	max-width: 1400px;
    width: 100%;
    height: 100%;
	max-height: 100% !important;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}
#eve:hover{
	overflow-x: scroll;

}


/* book styles */
@media only screen and (max-width: 800px){
	#eve{
		overflow-x: scroll;
	
	}
}
@media only screen and (max-width: 500px){
	.flex__item--left{
		height: max-content;
	}
}

/* @media only screen and (max-width: 900px){
	h1.text--big{

	}
} */