html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif !important;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.blogpage {
  background-color: #ffd5d1;
  background-size: 100% 100%;
}

.gallerypage {
  background-color: #d0f0c0;
  background-size: 100% 100%;
}

.LandingBlog {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.script-bf-box {
  width: 100px;
  height: 300px;
  background: black;
  margin: 5px;
  will-change: transform;
}

.script-bf-box:hover {
  background: hotpink;
}


.bottomNavbar {
  background-color: #042482 !important;
  height: 80px !important;
  width: 100%;
}

.MuiBottomNavigationAction-root {
  color: #9ba4b4 !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: white !important;
}


.landingContent {
  position: relative !important;
}

.nav {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  padding: 0 !important;
  z-index: 100;
}

.floatBtn {
  position: relative !important;
  bottom: 48px !important;
  background: linear-gradient( -180deg, rgba(0,0,0,0) 48%, white 47% );
  height: 100px !important;
  width: 100px !important;
  box-shadow: none !important;
}

.MuiFab-root{
  background-color: rgba(0,0,0,0) !important;
}

.MuiAvatar-root {
  width: 100px !important;
  height: 100px !important;
}



/* .navLogo {
  font-size: large !important;
} */

.mainLand div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3{
  width: 100%;
  margin: 0;
}


/* All for About Us */
/* div .top{
  background-color: #1f6f8b;
}

div .gap1 {
  bottom: 0px;
  margin: 0px auto;
  padding: 20px 50px;
}
div .top h1{
  margin: auto 100px;
}

div .parallax-container{
  position: relative;
}
div .gap2{
  padding: 20px 50px;
  background-color: #99a8b2 ;
}

div .section.white{
  padding: 0px 0px;
}
div .title{
  background-color: #99a8b2;
  padding: 50px 50px;
}
  

div .row{
  margin: 0px 0px;
  padding: 50px 50px;
} */


/* new additions to About Us Page Styles */

#insta{
  margin-left: 20px;
}

#linked{
  margin-left: 20px;
}


#form-card{
  padding: 50px;
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 70px;
  width: 100%;
  border-radius: 10px;
}

.form input { 
  background: transparent;
   border: solid 2px black;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form textarea { 
  background: transparent;
   border: solid 2px black;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.form  input::placeholder { 
 color: black;
 opacity: 1; 
}

.form  textarea::placeholder { 
 color: black;
 opacity: 1; 
}

.form  .text-container .menu-btn {
 margin-top: 20px;
 margin-left: 50px; 
 background: transparent;
 color:black;
 text-decoration: none;
 cursor: pointer;
 font-size:18px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 70px;
 padding-right: 70px;
 border-radius: 50px;
 border: solid 2px black;
}

.form  .text-container .menu-btn:hover,
.form  .text-container .menu-btn:focus {
   background: black;
   color: white;
   border: solid 1px black;
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.form-group {
  margin-top: 20px;
}

.Forms {
  margin-bottom: 50px;
}

#contact-card{
  margin-top: -180px;
  margin-left: -20px;
  padding-bottom: 100px;
  width: 100%;
  border-radius: 10px;
}

#videotag-container{
  margin-right: 500px;
  z-index:-1;
}

#card{
  padding-right: 100px;
}

#animated-gif-container {
  /*    
  background-image:url(http://winnerhun.uw.hu/vigyorpofa.gif);
  background-repeat:no-repeat;
  */
  width: 100%;
  height: 320px;
  background: url(./img/ContactUs/logovideo.gif) no-repeat center center; 
}

.project-summary img:hover {
  cursor: pointer;
}

.image-gallery-content{
  padding-bottom: 10vh;
}

.awssld__content {
  height: 100vh;
}

.awssld__bullets {
  background-color: lightsteelblue;
}

awssld__container {
  height: 100vh;
}

.LandingTestimonial{
  margin-top: 58vh;
  background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1063&q=80);
  margin-bottom: 10vh;
}